
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* good */
body {
    background-color: #d9dcd6;
    
}

/* Sets styling for the header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets styling for "Hori...n" specifically */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* sets style for "seo" specifically */
.header .seo {
    color: #d9dcd6;
}

/* changed div to nav. This sets the style for the links in the nav bar */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/* commented out the below code because it didn't do anything */
/* .header ul {
    list-style-type: none;
} */

.header li {
    display: inline-block;
    margin-left: 25px;
}


/* sets the font color of the buttons in the nav bar */
header a {
    color: #ffffff;
    text-decoration: none;
}

/* commented out the below code because it didn't do anything */
/* header p {
    font-size: 16px;
} */




/* reordered the below sections so that they are in the order they appear on the web page */

/* shows the main image on the page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets the styling for the main section of the page  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* created this block of code to consolidate the 3 seperate h2 blocks that had the same code */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Combined the stylings for all the below into one consolidated block of code */
#search-engine-optimization, #online-reputation-management, #social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Moved the float instructions for the image into CSS and kept formatting the same */
#seoPicture {
    float: left;
    margin-right: 25px;
    
}

/* changed the below into id references instead of class references */
#search-engine-optimization img {
    max-height: 200px;
}



#ormPicture {
    float: right;
    margin-left: 25px;
}

/* changed the below into id references instead of class references */
#online-reputation-management img {
    max-height: 200px;
}



#smmPicture {
    float: left;
    margin-right: 25px;
}


/* changed the below into id references instead of class references */
#social-media-marketing img {
    max-height: 200px;



    
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* made it correctly reference */
.footer h4 {
    font-size: 20px;
}
